@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

h1 {
	padding: 30px 0 20px;
	text-align: center;
}

.wrap {
	width: 960px;
	margin: 0 auto;
	text-align: center;
}
.btn_primary {
	width: 70px;
	height: 25px;
	background-color: #f3f4f5;
	border: 1px;
	border-radius: 30px;
	outline: 0;
	color: #030303;
	text-align: center;
	cursor: pointer;
	font-size: 12px;
	
}
.btn_primary:hover {
	background-color: #56BF70;
}
.btn_area {
	padding-top : 20px;
}
